body {
    background: radial-gradient(152.21% 77.75% at 23.3% 66.16%, #0C0C0C 0%, #0B0911 66%, #08001F 100%);
    font-family: Jura;
    color: white;
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.todo {
    width: 574px;
    height: 500px;
    border-radius: 20px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    padding: 20px;
    margin-bottom: 50px;
}

h5 {
    color: #fff;
    font-family: Jura;
}

input {
    border-radius: 36px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    padding: 5px 10px;
    width: 70%;
    color: white;
    font-family: Jura;
}

button {
    border-radius: 36px;
    border: 1px solid #FFF;
    background: linear-gradient(90deg, #750000 0%, #DE0000 100%);
    backdrop-filter: blur(10px);
    color: white;
    padding: 5px 10px;
    width: 20%;
    cursor: pointer;
}

.todo-items {
    padding: 0;
    list-style: none;
    margin-top: 20px;
}

.todo-items li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.todo-items li + li {
    margin-top: 10px;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
}

.checkbox {
    width: 20px;
    height: 20px;
    background: url('images/checkbox.svg') no-repeat center center;
    background-size: contain;
    cursor: pointer;
}

.checkbox.checked {
    background: url('images/checkbox_checked.svg') no-repeat center center;
    background-size: contain;
}

.remove-task {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.remove-icon {
    width: 18.339px;
    height: 18.516px;
    background: url('images/remove.svg') no-repeat center center;
    background-size: contain;
}

footer {
    border-top: 1px solid #fff;
    background: #070707;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.group {
    font-family: "Abhaya Libre";
}

.names {
    display: flex;
    gap: 20px;
    font-family: "Arimo";
    text-align: center;
    font-style: normal;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 10px;
}
